/* BlogSection.module.css */

.blogsContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
}

.loadMoreContainer {
    font-size: var(--font-size-md);
    text-align: center;
    color: var(--primary-color);
    font-weight: 400;
    margin: 32px 0;
  }

  .loadMoreContainer div {
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    display: flex;
  }

@media (min-width:768px) and (max-width:992px) {
    .blogsContainer {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:768px) {
    .blogsContainer {
        grid-template-columns: 1fr;
    }
}