/* globals.css */
*,
*::before,
*::after {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}

:root {
  --background-color: #333;
  background-color: #242424;
  --primary-color: #027be3;
  --secondary-color: #f2c037;
  --font-primary-color: #161616;
  --font-secondary-color: #f4f4f4;
  --button-primary-color: #1a1715;
  --button-secondary-color: #2b2826;
  --font-paragraph-color: #4d5054;
  --white: #ffffff;
  --dark: #1a1715;
  --red: #e50000;
  --gray: #54595F;
  --font-size-base: 16px;
  --font-size-xs: calc(var(--font-size-base) / 1.25);
  --font-size-sm: var(--font-size-base);
  --font-size-md: calc(var(--font-size-base) * 1.25);
  --font-size-lg: calc(var(--font-size-md) * 1.5);
  --font-size-xl: calc(var(--font-size-lg) * 1.75);
  --font-size-xxl: calc(var(--font-size-xl) * 2);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* --- Those Will be deleted later. --- */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

h2 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/*  */
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  overflow-wrap: break-word;
}

b,
strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

small {
  font-size: 0.875em;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: vertical;
}

/* Container Infrastracture. */
.container-fluid {
  width: 100vw;
}

.container,
.container-m {
  width: 100%;
  padding: 0 16px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .container,
  .container-m {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-m {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}