/* Navbar.module.css */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 96px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--background-color);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 400;
  font-size: var(--font-size-md);
  font-style: italic;
  z-index: 1000;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
  transition: transform 0.3s ease-in-out;
}

.header nav ul.scrolled {
  color: var(--white);
}

.header nav ul li a {
  color: var(--primary-font-color);
  font-weight: 400;
  letter-spacing: 0.2px;
}

.header nav ul li a:hover {
  color: var(--button-hover-color);
}

/* Hamburger Menu Icon */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger div {
  width: 100%;
  height: 2px;
  background-color: var(--dark);
  transition: all 0.3s ease-in-out;
}

.bar1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.bar2 {
  opacity: 0;
}

.bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Mobile Devices */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .header nav ul {
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;
    height: calc(100vh - 96px);
    flex-direction: column;
    background-color: var(--background-color);
    justify-content: flex-start;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .header nav ul.open {
    transform: translateY(0);
  }

  .header nav ul li {
    width: 100%;
    text-align: center;
    padding: 16px 0;
  }
  .logoContainer {
    width: calc(100% - 48px);
  }
  .header nav {
    padding: 0 12px;
  }
}

/* Menu Items Transition */
.header.scrolled {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
